In [125]:
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [150]:
varPen = sns.load_dataset("penguins")

In [151]:
varPen.sample(10)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
170,Chinstrap,Dream,46.4,18.6,190.0,3450.0,Female
315,Gentoo,Biscoe,50.8,15.7,226.0,5200.0,Male
116,Adelie,Torgersen,38.6,17.0,188.0,2900.0,Female
295,Gentoo,Biscoe,48.6,16.0,230.0,5800.0,Male
171,Chinstrap,Dream,49.2,18.2,195.0,4400.0,Male
148,Adelie,Dream,36.0,17.8,195.0,3450.0,Female
22,Adelie,Biscoe,35.9,19.2,189.0,3800.0,Female
184,Chinstrap,Dream,42.5,16.7,187.0,3350.0,Female
136,Adelie,Dream,35.6,17.5,191.0,3175.0,Female
100,Adelie,Biscoe,35.0,17.9,192.0,3725.0,Female

In [152]:
varPen.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [153]:
varPen.species.unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [154]:
varPen.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

In [155]:
varPen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [156]:
varPen.shape

(344, 7)

In [157]:
varPen.isnull().any()

species              False
island               False
bill_length_mm        True
bill_depth_mm         True
flipper_length_mm     True
body_mass_g           True
sex                   True
dtype: bool

In [158]:
varPen.isna().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [159]:
#Penguisdata = varPen.drop('island', axis = 1)

In [161]:
Penguisdata = varPen

In [162]:
species = LabelEncoder()

In [163]:
Penguisdata.species = species.fit_transform(Penguisdata['species'])

In [164]:
island = LabelEncoder()
Penguisdata.island = island.fit_transform(Penguisdata['island'])

In [165]:
Sex = LabelEncoder()

In [166]:
Penguisdata.sex = Sex.fit_transform(Penguisdata.sex)

In [167]:
Penguisdata

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,2,39.1,18.7,181.0,3750.0,1
1,0,2,39.5,17.4,186.0,3800.0,0
2,0,2,40.3,18.0,195.0,3250.0,0
3,0,2,NaN,NaN,NaN,NaN,2
4,0,2,36.7,19.3,193.0,3450.0,0
...,...,...,...,...,...,...,...
339,2,0,NaN,NaN,NaN,NaN,2
340,2,0,46.8,14.3,215.0,4850.0,0
341,2,0,50.4,15.7,222.0,5750.0,1
342,2,0,45.2,14.8,212.0,5200.0,0
343,2,0,49.9,16.1,213.0,5400.0,1

In [168]:
Penguisdata.bill_length_mm.fillna(Penguisdata.bill_length_mm.mean(),inplace = True)

In [169]:
Penguisdata.bill_depth_mm.fillna(Penguisdata.bill_depth_mm.mean(),inplace = True)

In [170]:
Penguisdata.flipper_length_mm.fillna(Penguisdata.flipper_length_mm.mean(),inplace = True)

In [171]:
Penguisdata.body_mass_g.fillna(Penguisdata.body_mass_g.mean(),inplace = True)

In [172]:
Penguisdata.sex.fillna(Penguisdata.sex.mode(), inplace = True)

In [173]:
Penguisdata

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,2,39.10000,18.70000,181.000000,3750.000000,1
1,0,2,39.50000,17.40000,186.000000,3800.000000,0
2,0,2,40.30000,18.00000,195.000000,3250.000000,0
3,0,2,43.92193,17.15117,200.915205,4201.754386,2
4,0,2,36.70000,19.30000,193.000000,3450.000000,0
...,...,...,...,...,...,...,...
339,2,0,43.92193,17.15117,200.915205,4201.754386,2
340,2,0,46.80000,14.30000,215.000000,4850.000000,0
341,2,0,50.40000,15.70000,222.000000,5750.000000,1
342,2,0,45.20000,14.80000,212.000000,5200.000000,0
343,2,0,49.90000,16.10000,213.000000,5400.000000,1

In [174]:
Penguisdata.isna().any()

species              False
island               False
bill_length_mm       False
bill_depth_mm        False
flipper_length_mm    False
body_mass_g          False
sex                  False
dtype: bool

In [203]:
X = Penguisdata[['island','bill_length_mm','bill_depth_mm','flipper_length_mm','body_mass_g','sex']]
Y = Penguisdata['species']

In [204]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=.2)

In [205]:
varRandomForest = RandomForestClassifier()

In [206]:
varRandomForest.fit(X_train,y_train)

RandomForestClassifier()

In [207]:
pred_Y =varRandomForest.predict(X_test)

In [208]:
a = accuracy_score(y_test,pred_Y)

In [209]:
a

0.9855072463768116

In [210]:
modelAdaboost = AdaBoostClassifier()
modelAdaboost.fit(X_train,y_train)

AdaBoostClassifier()

In [211]:
predadaboost = modelAdaboost.predict(X_test)
predadaboost

array([0, 0, 2, 0, 0, 2, 2, 0, 0, 2, 0, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0,
       0, 0, 0, 2, 0, 2, 0, 0, 0, 2, 2, 0, 2, 0, 0, 2, 2, 2, 0, 0, 0, 0,
       2, 2, 2, 2, 0, 0, 2, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 2, 0, 2,
       0, 0, 0])

In [212]:
adaboost_accuracy = accuracy_score(y_test,predadaboost)
adaboost_accuracy

0.8260869565217391

In [213]:
LogisticModel = LogisticRegression()

In [214]:
LogisticModel.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [215]:
predLR = LogisticModel.predict(X_test)

In [216]:
accuracy_score(y_test,predLR)

0.9855072463768116

In [221]:

a =  [[0,50.4,15.7,222.0,5750.0,1]]

In [222]:
b = varRandomForest.predict(a)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [223]:
b

array([2])

In [224]:
['Adelie', 'Chinstrap', 'Gentoo']

if b[0] == 0:
    print("Species : Adelie")
elif b[0] == 1:    
    print("Species : Chinstrap")
else: 
    print("Species : Gentoo")

Species : Gentoo